<div class="title-block">
    <h3 class="title">
        Страница записей <span class="sparkline bar"></span>
    </h3>
</div>
<section class="section text-center" *ngIf="!isLoaded">
    <ps-loader></ps-loader>
</section>
<section class="section" *ngIf="isLoaded">
    <div class="row">
        <div class="col-md-6">
            <ps-add-event [categories]="categories"></ps-add-event>
        </div>
        <div class="col-md-6">
            <ps-add-category (onCategoryAdd)="NewCategoryAdded($event)" ></ps-add-category>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ps-edit-category
                    [categories]="categories"
                    (onCategoryEdit)="categoryWasEdited($event)"
            ></ps-edit-category>
        </div>
    </div>
</section>